{% extends 'main/base.html' %}

{% block content %}
<div class="col">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>Имя</td>
                    <td>{{ object.first_name }}</td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td>{{ object.surname }}</td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <a href="{% url 'main:students_list' %}" class="btn btn-primary"> << Назад </a>
        </div>
    </div>
</div>
{% endblock %}