<div class="col-lg-4">
    <div class="card m-2 text-center">
        <div class="card-body">
            <img class="rounded-circle" width="200" height="140" src="/media/{{ object.avatar }}">

            <h2>{{ object.first_name | title }} {{ object.surname | title}}</h2>
            <p><a class="btn btn-secondary" href="{% url 'main:student_item' object.pk %}">Посмотреть &raquo;</a></p>
            <p><a class="btn btn-secondary" href="{% url 'main:update' object.pk%}">Редактировать &raquo;</a></p>
            <p><a class="btn btn-secondary" href="{% url 'main:delete' object.pk %}">Удалить &raquo;</a></p>
        </div>
        {% if object.is_active %}
            <a class="btn btn-warning" href="{% url 'main:activity_student' object.pk %}">Деактивировать</a>
        {% else %}
            <a class="btn btn-success" href="{% url 'main:activity_student' object.pk %}">Активировать</a>
        {% endif %}
    </div>
</div><!-- /.col-lg-4 -->